<h1>Comments controller, show action</h1>

<p>Edit this file in <tt>app/views/comments/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_comment,  @comment) %> |
<%= link_to 'Back', url(:comments) %>
