div#header > h2 {
  font-size: xx-large;
  text-align: center;
}

div#content {
}

/* @group blogs */

div#blogs {
  margin-left: auto;
  margin-right: auto;
}

/* @end */

/* @group Articles */

div#articles {
  margin-left: auto;
  margin-right: auto;
}

div.article {
  margin-top: 5ex;
}

div.article .title {
  font-weight: bold;
  font-size: x-large;
}

div.article .sub_title {
  font-weight: bold;
  font-size: large;
}

div.article div.body {
  background-color: #c8c8c8;
}

div.article div.body p {
  text-indent: 3ex;
  padding-left: 5ex;
  padding-right: 5ex;
  text-align: justify;
}

div.article div.title {
  text-align: center;
}

div.article div.sub_title {
  text-align: center;
}

div.article div.footer {
  padding: 1ex;
  padding-left: 5ex;
  padding-right: 5ex;
  margin-top: 3ex;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
}
/* @end */

/* @group comments */

div#comments {
  margin-left: auto;
  margin-right: auto;
}

/* @end */

.text-small { font-size: small; }

/* @group formatting */

.text-large { font-size: large; }
.text-normal { font-size: normal; }
.text-x-large { font-size: x-large; }

div#footer {
  text-align: center;
  margin-top: 5ex;
  color: grey;
}

/* @end */
