<h1>Authors controller, show action</h1>

<p>Edit this file in <tt>app/views/authors/show.html.erb</tt></p>


<%= link_to 'Edit',  url(:edit_author,  @author) %> |
<%= link_to 'Back', url(:authors) %>
